In [1]:
from py2neo import Graph

In [2]:
graph = Graph("http://localhost:7474", auth=("neo4j", "123456"))

In [3]:
# 1 Find all Producers that produced the movie When Harry Met Sally
results = graph.run("match (movie:Movie {title:'When Harry Met Sally'})-[r:PRODUCED]-(person:Person) return person.name")

In [4]:
for name in results:
    print(name)

'Nora Ephron'
'Rob Reiner'

In [5]:
# 2 Find directors who have directed more than 2 movies
results = graph.run("match (person:Person)-[r:DIRECTED]-(movie:Movie) with person, count(*) as cnt where cnt > 2 return person.name")

In [6]:
for name in results:
    print(name)

'Lana Wachowski'
'Andy Wachowski'
'Rob Reiner'
'Ron Howard'

In [7]:
# 3 Find the actors with 5+ movies, and the movies in which they acted
results = graph.run("match (person:Person)-[r:ACTED_IN]-(movie:Movie) with person, count(*) as cnt where cnt >= 5 match (person:Person)-[r:ACTED_IN]-(movie:Movie) return person.name, movie.title")

In [8]:
for name, title in results:
    print(name, '\t', title)

Hugo Weaving 	 Cloud Atlas
Hugo Weaving 	 V for Vendetta
Hugo Weaving 	 The Matrix Revolutions
Hugo Weaving 	 The Matrix Reloaded
Hugo Weaving 	 The Matrix
Keanu Reeves 	 Something's Gotta Give
Keanu Reeves 	 The Replacements
Keanu Reeves 	 Johnny Mnemonic
Keanu Reeves 	 The Devil's Advocate
Keanu Reeves 	 The Matrix Revolutions
Keanu Reeves 	 The Matrix Reloaded
Keanu Reeves 	 The Matrix
Jack Nicholson 	 As Good as It Gets
Jack Nicholson 	 One Flew Over the Cuckoo's Nest
Jack Nicholson 	 Something's Gotta Give
Jack Nicholson 	 Hoffa
Jack Nicholson 	 A Few Good Men
Meg Ryan 	 Sleepless in Seattle
Meg Ryan 	 You've Got Mail
Meg Ryan 	 Top Gun
Meg Ryan 	 When Harry Met Sally
Meg Ryan 	 Joe Versus the Volcano
Tom Hanks 	 Apollo 13
Tom Hanks 	 You've Got Mail
Tom Hanks 	 A League of Their Own
Tom Hanks 	 Joe Versus the Volcano
Tom Hanks 	 That Thing You Do
Tom Hanks 	 The Da Vinci Code
Tom Hanks 	 Cloud Atlas
Tom Hanks 	 Cast Away
Tom Hanks 	 The Green Mile
Tom Hanks 	 Sleepless in Seattle
Tom Hanks 	 The Polar Express
Tom Hanks 	 Charlie Wilson's War

In [9]:
# 4 Movies and actors exactly 3 "hops" away from the movie Hoffa
results = graph.run("match (p)-[*3]-(movie:Movie {title:'Hoffa'}) return distinct p")

In [10]:
for record in results:
    node = record['p']
    if node.has_label('Person'):
        print("Actor:", node['name'])
    elif node.has_label('Movie'):
        print('Movie:', node['title'])

Actor: John C. Reilly
Actor: J.T. Walsh
Actor: Jack Nicholson
Actor: Milos Forman
Actor: James Marshall
Actor: Kevin Pollak
Actor: Aaron Sorkin
Actor: Cuba Gooding Jr.
Actor: Christopher Guest
Actor: Rob Reiner
Actor: Noah Wyle
Actor: Kiefer Sutherland
Actor: Kevin Bacon
Actor: Demi Moore
Actor: Tom Cruise
Actor: Helen Hunt
Actor: Greg Kinnear
Actor: James L. Brooks
Actor: Danny DeVito
Actor: Keanu Reeves
Actor: Nancy Meyers
Actor: Diane Keaton

In [11]:
# 5 Find all actors who have also directed movies and the movies that they directed
results = graph.run("match (person:Person)-[r:ACTED_IN]-(movie1:Movie) with person match (person:Person)-[r:DIRECTED]-(movie2:Movie) return distinct person.name, movie2.title")

In [12]:
for name, title in results:
    print(name, '\t', title)

Tom Hanks 	 That Thing You Do
Werner Herzog 	 RescueDawn
Clint Eastwood 	 Unforgiven
James Marshall 	 V for Vendetta
James Marshall 	 Ninja Assassin
Danny DeVito 	 Hoffa

Provide 5 additional queries and indicate the specific business use cases they 
address

In [13]:
# 1.Find all movies released between 1980 and 2000
results = graph.run("match (n:Movie) where n.released > 1980 and n.released < 2000 return n.title")

In [14]:
for name in results:
    print(name)

'The Matrix'
"The Devil's Advocate"
'A Few Good Men'
'Top Gun'
'Stand By Me'
'As Good as It Gets'
'What Dreams May Come'
'Snow Falling on Cedars'
"You've Got Mail"
'Sleepless in Seattle'
'Joe Versus the Volcano'
'When Harry Met Sally'
'That Thing You Do'
'The Birdcage'
'Unforgiven'
'Johnny Mnemonic'
'The Green Mile'
'Hoffa'
'Apollo 13'
'Twister'
'Bicentennial Man'
'A League of Their Own'

In [15]:
# 2.Find the youngest actor in the movie Cloud Atlas
results = graph.run("match (p:Person)-[r:ACTED_IN]-(m:Movie {title:'Cloud Atlas'}) return p.name order by p.born Desc limit 1")

In [16]:
for name in results:
    print(name)

'Halle Berry'

In [17]:
# 3.Find top 10 average rating movies
results = graph.run("MATCH (p:Person)-[r:REVIEWED]->(m:Movie) with m, avg(r.rating) as avg_score RETURN m.title, avg_score order by avg_score DESC limit 10")

In [18]:
for title, score in results:
    print(title, '\t', score)

Cloud Atlas 	 95.0
Jerry Maguire 	 92.0
Unforgiven 	 85.0
The Replacements 	 75.66666666666667
The Da Vinci Code 	 66.5
The Birdcage 	 45.0

In [19]:
# 4.Find all roles that Tom Hanks played
results = graph.run("match (p:Person {name:'Tom Hanks'})-[r:ACTED_IN]-(m:Movie) return p.name, m.title, r.roles")

In [20]:
for name, title, role in results:
    print(name, '\t', title, '\t', role)

Tom Hanks 	 Apollo 13 	 ['Jim Lovell']
Tom Hanks 	 You've Got Mail 	 ['Joe Fox']
Tom Hanks 	 A League of Their Own 	 ['Jimmy Dugan']
Tom Hanks 	 Joe Versus the Volcano 	 ['Joe Banks']
Tom Hanks 	 That Thing You Do 	 ['Mr. White']
Tom Hanks 	 The Da Vinci Code 	 ['Dr. Robert Langdon']
Tom Hanks 	 Cloud Atlas 	 ['Zachry', 'Dr. Henry Goose', 'Isaac Sachs', 'Dermot Hoggins']
Tom Hanks 	 Cast Away 	 ['Chuck Noland']
Tom Hanks 	 The Green Mile 	 ['Paul Edgecomb']
Tom Hanks 	 Sleepless in Seattle 	 ['Sam Baldwin']
Tom Hanks 	 The Polar Express 	 ['Hero Boy', 'Father', 'Conductor', 'Hobo', 'Scrooge', 'Santa Claus']
Tom Hanks 	 Charlie Wilson's War 	 ['Rep. Charlie Wilson']

In [21]:
# 5.Find the movie that has the most people took part in
results = graph.run("match (m:Movie)-[r:WROTE|ACTED_IN|DIRECTED|PRODUCED]-(p:Person) with m, count(*) as cnt return m.title, cnt order by cnt Desc limit 1")

In [22]:
for name, cnt in results:
    print(name, '\t', cnt)

A Few Good Men 	 14